@font-face {
  font-family: "iconfont"; /* Project id 3558428 */
  src: url('iconfont.woff2?t=1659269934823') format('woff2'),
       url('iconfont.woff?t=1659269934823') format('woff'),
       url('iconfont.ttf?t=1659269934823') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\e6a3";
}

.icon-bottom:before {
  content: "\e60e";
}

.icon-file-directory:before {
  content: "\e614";
}

